<div class="container">
  <div class="features-1">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="title">About the Hackathon</h2>
        <h5 class="description">Hack Ekurhuleni is Ekurhuleni Metropolitan Municipalities ICT Departments Hackathon that seeks to bring together ICT skills from citizens to help solve the Metro’s challenges. The Hackathon began with an isolated event that is now evolving into a more structured community with the purpose of expanding ICT skills and the developer community.</h5>
        <h5 class="description">Teams will be given business challenges that the Metro faces and they will be tasked to come up with solutions to those challenges.</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-info">
            <i class="material-icons">chat</i>
          </div>
          <h4 class="info-title">Mission</h4>
          <p>To motivate Youth to be involved in more ICT related activities and careers and to have students, professionals, and the general start-up and tech communities working together to solve the Metro’s challenges through innovation.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-success">
            <i class="material-icons">group_work</i>
          </div>
          <h4 class="info-title">Vision</h4>
          <p>To create an articulated and organized ICT community in the Metro who are willing to share the knowledge through events like hackathons and other activities for educational purposes and to develop innovative solutions as a way of moving the City forward.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-danger">
            <i class="material-icons">extension</i>
          </div>
          <h4 class="info-title">Theme</h4>
          <p>This year’s theme is Digitally Connected City. The theme is centred on the Internet of Things and Analytics. The City will provide access to Open Data for the teams to use.</p>
        </div>
      </div>
    </div>
  </div>
</div>
