<div class="page-header header-filter" data-parallax="active" style="background-image: url(<%= image_path 'jhb.jpeg' %>);">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="title">A Digitally Connected City</h1>
        <h4>The theme for this edition of the Ekurhuleni Municipality Hackathon is centred on the Internet of Things and Analytics. The City will provide access to Open Data for the teams to use.</h4>
        <br/>
        <ul class="list-inline">
          <li>
            <h6>
              <i class="material-icons">date_range</i> <span>Sept 30 – Oct 2, 2016</span>
            </h6>
          </li>
          <li>
            <h6>
              <i class="material-icons">location_on</i> <span>Alberton Civic Centre</span>
            </h6>
          </li>
        </ul>

        <div class="buttons">
          <a href="http://jnz-th.com/W1RAz" class="btn btn-primary btn-raised btn-lg" target="_blank">
            <i class="material-icons">play_arrow</i>
            Watch videos
          </a>
          <a href="images/contents/EMMHack2016-Schedule.pdf" class="btn btn-white btn-raised btn-lg" target="_blank">
            <i class="material-icons">alarm_on</i>
            Schedule
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
