<div class="pricing-1 section-image" id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="title">Prizes to be won!</h2>
        <div class="section-space"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card card-pricing card-plain">
          <div class="content">
            <h6 class="category"></h6>
            <!-- <div class="icon">
              <i class="material-icons">weekend</i>
            </div> -->
            <h3 class="card-title"></h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="content">
            <h6 class="category"></h6>
            <div class="icon icon-primary">
             
            </div>
            <h3 class="card-title"></h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-pricing card-plain">
          <div class="content">
            <h6 class="category"></h6>
            <!-- <div class="icon">
              <i class="material-icons">business</i>
            </div> -->
            <h3 class="card-title"></h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>