<div class="pricing-1 section-image" style="background-image: url('assets/img/bg11.jpg')" id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="title">Prizes</h2>
        <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
        <div class="section-space"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card card-pricing card-plain">
          <div class="content">
            <h6 class="category">Second</h6>
            <div class="icon">
              <i class="material-icons">weekend</i>
            </div>
            <h3 class="card-title">R30,000</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="content">
            <h6 class="category">First</h6>
            <div class="icon icon-rose">
              <i class="material-icons">home</i>
            </div>
            <h3 class="card-title">R100,000</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-pricing card-plain">
          <div class="content">
            <h6 class="category">Third</h6>
            <div class="icon">
              <i class="material-icons">business</i>
            </div>
            <h3 class="card-title">R20,000</h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
