<div class="pricing-1 section-image" style="background-image: url('assets/img/bg11.jpg')" id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="title">Prizes</h2>
        <div class="section-space"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card card-pricing card-plain">
          <div class="content">
            <h6 class="category">Second Position</h6>
            <!-- <div class="icon">
              <i class="material-icons">weekend</i>
            </div> -->
            <h3 class="card-title">R50,000</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-pricing card-raised">
          <div class="content">
            <h6 class="category">Winner</h6>
            <div class="icon icon-primary">
              <i class="fa fa-money"></i>
            </div>
            <h3 class="card-title">R100,000</h3>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-pricing card-plain">
          <div class="content">
            <h6 class="category">Third Position</h6>
            <!-- <div class="icon">
              <i class="material-icons">business</i>
            </div> -->
            <h3 class="card-title">R20,000</h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
